version: "3.9"
services:
  vdirsyncer:
    container_name: vdirsyncer
    environment:
      - "CRONTIMETABLE=*/15 * * * *"
      - "VDIRSYNCER_CONFIG=/config/config.ini"
    hostname: vdirsyncer
    image: raetha/vdirsyncer-docker
    network_mode: bridge
    volumes:
      - "vdirsyncer:/config"
      - "/etc/localtime:/etc/localtime:ro"
